[user]
	name = jirathip-k
    email = 115384744+jirathip-k@users.noreply.github.com
[init]
    defaultBranch = main
[core]
    editor = nvim
    pager = delta

[fetch]
    prune = true

[url "https://github.com/"]
    insteadOf = gh:

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
