window {
    font-size: 20px;
    font-family: Hack;
    background-color: rgba(48,52,70,0.5);
    color: #c6d0f5;
    width: 20%;
}
#entry {
    padding: 0.25rem;
}

#entry:selected {
    background-color: rgba(203,166,247,0.8);
}

#text:selected {
    color: #292c3c;
}

#input {
    background-color: rgba(48,52,70, 0.2);
    color: #c6d0f5;
    padding: 0.25rem;
}

image {
    margin-left: .25em;
    margin-right: .25em;
}
